<body class="bg-black dark:bg-gray-900 text-gray-200 font-sans antialiased">
  <div class="flex justify-center items-center min-h-screen bg-black dark:bg-gray-900 px-4 py-12">
  <div class="w-full max-w-md bg-gray-950 dark:bg-gray-800 p-8 rounded-2xl shadow-lg border border-gray-700">
    <h2 class="text-3xl font-extrabold text-center text-blue-400 mb-6">Log In to Your Account</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <div class="mb-5">
        <%= f.label :email, class: "block text-sm font-semibold text-gray-300 mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true,
            class: "w-full rounded-lg border border-gray-700 bg-gray-800 text-white px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>

      <div class="mb-5">
        <%= f.label :password, class: "block text-sm font-semibold text-gray-300 mb-1" %>
        <%= f.password_field :password, autocomplete: "current-password", required: true,
            class: "w-full rounded-lg border border-gray-700 bg-gray-800 text-white px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center mb-6">
          <%= f.check_box :remember_me, class: "mr-2 rounded border-gray-600 bg-gray-800 text-blue-500 focus:ring-blue-500" %>
          <%= f.label :remember_me, class: "text-sm text-gray-400" %>
        </div>
      <% end %>

      <div class="mb-6">
        <%= f.submit "Log In",
            class: "w-full py-3 px-4 bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white font-bold rounded-lg shadow transition duration-150 ease-in-out focus:outline-none focus:ring-4 focus:ring-blue-400" %>
      </div>
    <% end %>

    <div class="text-center text-sm text-gray-400">
      <%= link_to  "Forgot Password?", new_password_path(resource_name), class: "w-full py-3 px-4 bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white font-bold rounded-lg shadow transition duration-150 ease-in-out focus:outline-none focus:ring-4 focus:ring-blue-400" %>
    </div>

    <div class="text-center text-sm text-gray-400 mt-8 mb-5 ">
      <%= link_to  "Create an Accunt",new_user_registration_path, class: "w-full py-3 px-4 bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white font-bold rounded-lg shadow transition duration-150 ease-in-out focus:outline-none focus:ring-4 focus:ring-blue-400" %>
    </div>
  </div>
</div>
</body>