<!DOCTYPE html>
<html data-turbo="true">
  <head>
    <title><%= content_for(:title) || "Orgratro Work Hub" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">

     <%= favicon_link_tag 'Orgatro_Workhub.ico' if asset_path('Orgatro_Workhub.ico').present? rescue nil %>

    
    <link rel="icon" href="<%= asset_path('Orgatro_Workhub.png')%>" type="image/png">
    

     <link rel="icon" href="<%= asset_path('Orgatro_Workhub.png') %>" type="image/x-icon">  
    <link rel="apple-touch-icon" href="<%= asset_path('Orgatro_Workhub.svg')%>" sizes="192x192">
     <link rel="icon" href="<%= asset_path('Orgatro_Workhub.svg')%>" type="image/svg+xml">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= javascript_include_tag "toast" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="bg-black  text-white">
  <%= render "Shared/Navbar" %>
  <%= render "Shared/Toster" %>
  <%= yield %>
  <%= render "Shared/Footer" %>
</main>

    <script src="/_/2-MgjLv-.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" crossorigin="anonymous"></script>
  </body>
</html>
